@font-face{
    font-family: Cocogoose;
    src: url(PTSans-Regular.ttf)
}

body {
    margin: 0;
    font-family: Cocogoose;
}

section {
    justify-content: center;
    align-items: center;
    height: 70vh;
}

section > h1 {
    font-size: 6vw;
}



/*HOME PAGE*/



#home {
    background-image: url("EdBoard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 86vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.background {
    background-color: rgba(0, 0, 0, 0.7);
    height: 86vh;

}

.homeLogo {
    padding-top: 200px;
}

.homeLogo h1{
    color:white;
}


.homeLogo img {
    height: 30%;
    width: 30%;
}
    


/*ABOUT US*/




#MNV {
    margin: 20%;
}

#MNV h2 {
    color: black;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.MV hr {
    width: 50%;
    margin: 0 auto;
}

.reveal h2{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

section .cards h3 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.cards .MV {
    padding: 40px;
    margin: 20px;
    display: flex;
    box-shadow: 2px 2px 5px  grey;
}

.cards .MV p {
    font-size: 19px;
    margin: 20px;
}





/* CURRENT PROJECT*/




#feature {
    margin-top: 20%;
}
.breaker{
    background-color: black;
    height: 80%;
    width: 10px;
    margin-left: 50px;
}


.feat h1{
    line-height: 5px;
    font-size: 70px;
    color: black;
}

.contain-feat {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
}

.desc1 {
    color: black;
    padding: 20px;
    margin: 20px;
    width: 50%;
    font-size: 20px;
}


.feat-photo{
    right: 50px;
}

.desc1, .feat-photo{
    margin-top: 20px;
}

.feat-photo img{
    width: auto;
    height: 70%;
}



/*PROJECT INTRO */



#proj-intro {
    margin: 0;
    padding-top: 50px;
    font-family: monospace;
    height: 700px;
}

.sliders {
    width: 100%;
    max-width: 120vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.7);
}

.list img {
    width:100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.list::before {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay h1{
    position: absolute;
    color: white;
    font-size: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    left: 20px;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.buttons button:hover {
    cursor: pointer;
    background-color:grey;
}


.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: black;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;

}

@media screen and (max-width: 800px){
    .sliders{
        height: 500px;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}





/* OTHER PROJECTS */



.proj-head{
    text-align: center;
    font-size: 30px;
}
.proj-container{
    display: flex;
    justify-content: center;
}

.other-proj{
    width: 100%;
    overflow: auto;
    height: inherit;
    transition: scroll-top 1s ease;
    border-radius: 20px;
}

.proj-content{
    padding: 30px;
    
}

.header-photo{
    margin: 0;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 1s;
}

.card1{
    background-image: url("feat-header1.jpg");
}

.card2{
    background-image: url("feat-header2.jpg");
}

.card3{
    background-image: url("feat-header3.jpg");
}

.proj-link{
    width: 25%;
    box-shadow: 2px 2px 5px  grey;
    margin: 30px;
    height: 80vh;
    text-decoration: none;
    color: black;
}


.proj-link:hover .header-photo{
    height: 20vh;
}

.other-proj::-webkit-scrollbar{
    display: none;
}

.more{
    color: gray;
}

.more:hover{
    color: black;
}







/* NAVIGATION BAR */



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: .5s;
    height: 80px;
    z-index: 1;
    font-family: Cocogoose;
    
}

header .logo {
    margin-left: 50px;
    margin-top: 10px;
    position: relative;
    transition: .5s;
    opacity: 0;
}


header .logo img {
    height: 60px;
    width: 60px;
}

.NavList {
    top: 0;
    margin-right: 50px;
    height: inherit;

}

header ul {
    margin-top: 0;
    display: flex;
    height: inherit;
}

header ul li {
    list-style-type: none;
    height: inherit; 
}


.links {
    height: inherit;
    padding-top: 29px;
}

header.sticky {
    background: #f9f9f9;
}



.dropdown {
    float: right;
    height: inherit;
    position: relative;
    overflow: visible;
}

.dropdown .dropdown-btn{
    height: inherit;
    width: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
    color: white;
    transition: .5s;
    padding: 20px;
    font-size: 19px;
}


.dropdown .dropdown-btn img{
    filter: invert(100%);
    width: 15px;
    height: auto;
    margin-top: 5px;
}

header.sticky .dropdown .dropdown-btn img {
    filter: none;
    transition: .5s;
}




.dropdown:hover  .dropdown-btn{
    color: white;
    background-color: black;
}


.dropdown-content {
    background-color: #ccc;
    display: none;
    position: absolute;  
    z-index: 1;
    text-align: left;
    width: 140%;
    right: 0;
    top: 100;
    pointer-events: auto;
}


.dropdown:hover .dropdown-content {
    display: block; 
}

header.sticky .dropdown:hover .dropdown-btn{
    color: white;
    background-color: black;
}

header.sticky .dropdown:hover img{
    filter: invert(100%);
    transform: rotate(180deg);
    transition: 0.75s;
}

header .dropdown:hover img{
    filter: invert(100%);
    transform: rotate(180deg);
    transition: 0.75s;
}

header.sticky .logo, header.sticky ul li a, header.sticky .dropdown .dropdown-btn{
    color: #000;
    opacity: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}


